.highway__button-arrow_right {
  background-image: url(../../../../images/button-arrow-right.svg);
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 767px) {
  .highway__button-arrow_right {
    background-size: 4.5px 10px;
  }
}
