.footer__copyright {
  color: #565656;
  margin: 0;
  margin-left: 120px;
  margin-top: 100px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
}

@media screen and (max-width: 767px) {
  .footer__copyright {
    margin: 100px 0 0;
  }
}
