.highway__way-icon {
  position: absolute;
  left: 16px;
  bottom: 28px;
}

@media screen and (max-width: 767px) {
  .highway__way-icon {
    left: 11px;
    bottom: 22px;
    width: 35px;
    height: 12px;
  }
}
