.root {
  background: #333333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  font-family: 'Inter', sans-serif;
  color: #FFFFFF;
  max-width: 1440px;
  min-width: 320px;
  margin: 0 auto;
  padding-top: 74px;
}

@supports (font-variation-settings: normal) {
  .root {
    font-family: 'Inter var', sans-serif;
  }
}
