.header__menu-button {
  display: none;
  width: 22px;
  height: 19px;
  border: none;
  background-color: transparent;
  padding: 0;
}

.header__menu-button:hover {
  opacity: 0.65;
  cursor: pointer;
  transition: opacity .2s linear;
}

@media screen and (max-width: 767px) {
  .header__menu-button {
    display: block;
  }
}
