.footer__input {
  padding: 11px 190px 11px 20px;
  margin-left: 120px;
  margin-top: 50px;
  border: 1px solid rgba(125, 125, 125, 0.5);
  border-radius: 4px;
  background: transparent;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 28px;
  color: #FFFFFF;
  opacity: 0.5;
}

@media screen and (max-width: 767px) {
  .footer__input {
    margin: 40px 0 0;
    padding: 11px 110px 11px 20px;
  }
}
