.bicycle__caption {
  margin: 22px 0 0;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  line-height: 122%;
}

@media screen and (max-width: 767px) {
  .bicycle__caption {
    max-width: 380px;
    text-align: center;
    font-size: 14px;
    line-height: 129%;
  }
}
