.bicycles__dropdown {
  display: none;
}

@media screen and (max-width: 767px) {
  .bicycles__dropdown {
    font-family: inherit;
    background: transparent;
    display: inline;
    border: 1px solid #E3E3E3;
    border-radius: 2px;
    width: 114px;
    height: 30px;
    font-family: inherit;
    background: transparent;
    color: white;
  }
}
