.highway__gallery {
  display: flex;
  flex-direction: row;
  column-gap: 40px;
  grid-column: 1/3;
  grid-row: 3/4;
}

@media screen and (max-width: 767px) {
  .highway__gallery {
    display: grid;
    grid-row: 2/3;
   }
}
